{% extends "ssstrzZakladnikBundle::layout.html.twig" %}

{% block title %}Moje{% endblock %}

{% block content %}
<div class="row bookmarks">
    {% for bookmark in bookmarks %}
<div class="col-md-4 col-lg-4">
    <div>
        <div>
            <a target="blank" href="{{ bookmark.url }}">{{ bookmark.title }}</a>
        </div>
        <hr>
        <div>
            <a href="{{ path('ssstrz_zakladnik_remove', {'id':bookmark.id}) }}">unsub</a>
        </div>
    </div>
</div>
    {% else %}
No subscribtions.
    {% endfor %}
</div>
{% endblock %}